* {
	box-sizing: border-box;
}
.home-wrapper {
	padding-left: 150px;
	background-color: red;
}
body {
	color: black;
}

nav {
	height: 43px;
	background-color: #ccc;
}

.admin-wrapper {
	width: 60%;
	margin-left: 20%;
}

.admin-title {
	text-align: center;
}

.admin-form {
	display: flex;
	flex-direction: column;
}

.admin-form div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.admin-form input[type='text'] {
	height: 43px;
	padding: 0.5rem;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #c2c3c6;
}

.btn {
	height: 33px;
	width: 100px;
	border-radius: 10px;
	background-color: dodgerblue;
	border: none;
	/* margin-top: 20px; */
	margin-left: 5px;
	align-self: center;
	color: #fff;
	transition: 0.5s ease-in-out all;
	cursor: pointer;
	grid-column: 2/3;
}

.btn:hover {
	transform: scale(1.05);
}
.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 5;
	min-width: 960px;
	background-color: 2px solid #596bdf;
	display: flex;
}



.navbar-brand {
	display: flex;
	align-items: center;
  }
  .navbar-brand>img {
	padding: 7px 14px;
  }

/* .nav-bar a {
	text-decoration: none;
	font-size: 1.2rem;
	margin-right: 10px;
	color: black;
}

.nav-bar a:hover {
	text-decoration: underline;
}

.nav-bar li {
	margin-top: 10px;
} */

/* .nav_button {
	width: 200px;
	border-left: 10px;
	display: inline;
	margin-right: 20px;
	color: #fff;
	text-decoration: none;
} */

/* .button {
	all: unset;
	background-color: #8492ec;
	color: #283cac;
} */

/* .button:hover {
	background-color: #283cac;
	color: #8492ec;
} */

.gifs {
	width: 200px;
	height: 200px;
}

.result-container {
	margin-left: 38%;
}
