* {
	box-sizing: border-box;
}

.home-wrapper {
	padding-left: 150px;
	background-color: red;
}
body {
	color: black;
	background-color: #4e4a59;
}

.me-auto:hover {
	background-color: #43c26b;
}

nav {
	margin-left: 5%;
	margin-right: 5%;
	border-left-style: outset;
	border-left-color: rgb(165, 165, 165);
	border-right-style: inset;
	border-right-color: rgb(165, 165, 165);
	height: 43px;
	background-color: #37a75a;
}

.admin-wrapper {
	width: 60%;
	margin-left: 20%;
}

.admin-title {
	text-align: center;
}

.admin-form {
	display: flex;
	flex-direction: column;
}

.admin-form div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.admin-form input[type='text'] {
	height: 43px;
	padding: 0.5rem;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #c2c3c6;
}

.admin-btn {
	
}

.search-input {
	margin-bottom: auto;
	margin-top: 25px;
	margin-left: 33%;
	height: 70px;
	width: 400px;
	background-color: #fff;
	padding: 10px;
}

.search-container {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10;
	background-color: #cfcfcf;
	border-left-style: outset;
	border-left-color: rgb(165, 165, 165);
	border-right-style: inset;
	border-right-color: rgb(165, 165, 165);
	height: 100px;
}

.btn {
	height: 40px;
	width: 70px;
	display: flex;
	margin-top: -5%;
	/* margin-left: 33%; */
	color: #0184bc;
}

.btn:hover {
	transform: scale(1.05);
	background-color: #4da167;
	color: white;
}
/* .nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 5;
	min-width: 960px;
	background-color: 2px solid #596bdf;
	display: flex;
} */

.search {
	color: #596bdf;
	margin-left: 21%;
	margin-right: auto;
	text-align: center;
	display: inline-block;
	height: 100px;
	z-index: 1;
}

.outline-results {
	/* outline-Style:solid;
	outline-color:#bababa;  */
	border-style: inset;
}

.navbar-brand {
	display: flex;
	align-items: center;
}
.navbar-brand > img {
	padding: 7px 14px;
}

.gifs {
	width: 200px;
	height: 200px;
}

.topimg {
	margin-top: -262.5px;
}

.topimg:hover {
	opacity: 0;
}

.result-container {
	padding-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 10px;
	border-left-style: outset;
	border-left-color: rgb(165, 165, 165);
	border-right-style: inset;
	border-right-color: rgb(165, 165, 165);
	border-bottom-style: inset;
	border-bottom-color: rgb(165, 165, 165);
	background-color: #cfcfcf;
}

.result {
	margin-left: 36%;
	margin-bottom: 5px;
}

.error {
	margin-top: 10px;
}
.result-wrapper {
	margin-left: 40%;
}

.topimg {
	margin-top: -262.5px;
}

.topimg:hover {
	opacity: 0;
}
